<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Restaurant Data Analysis Project</title>
  </head>

  <body>
    <h1>Welcome to my page </h1>

    <div class="kpi-row">
      kpi rows here [place a div for each card]
    </div>

    <div class="kpi-row">
      Weekly food consumption patterns Goal: See how many meals are sold per week using a line chart. [time on the x-axis, number of orders on the y-axis]
    </div>

    <div class="kpi-row">
      Peak days for vegan and mixed dishes Goal: Compare the demand for vegan vs mixed food on each day of the week. [days of the week on the x-axis, orders on the y-axis]
    </div>

    <div class="kpi-row">
      Demand distribution across delivery companies Goal: See which delivery company carries the most orders.
    </div>



    <p>
      {{message}}
    </p>

  </body>

</html>